Repository hmcts/dlrm-data-ingest-infra, pull requests merged in 2024-09, with the labels that each got.

#45 Create eventhubs
  components/management/data-mgmt-zone.tf
  components/management/inputs-required.tf
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
Labels: sbox_mgmt/add-or-update, sbox_landing/add-or-update, prod_mgmt/add-or-update, sbox_routes/no-changes, prod_routes/no-changes, stg_routes/no-changes, stg_mgmt/no-changes, stg_landing/add-or-update, prod_landing/destroy

#46 Dtspo 18705 eventhub
  environments/stg/stg.tfvars
Labels: sbox_mgmt/add-or-update, sbox_landing/add-or-update, stg_mgmt/add-or-update, sbox_routes/no-changes, prod_routes/no-changes, stg_routes/no-changes, stg_landing/add-or-update, prod_mgmt/destroy, prod_landing/destroy

#47 DTSPO-18899 - installing Azure monitor Agent to the nonprod VMs
  components/landing/data-landing-zone.tf
  components/landing/init.tf
  components/landing/inputs-optional.tf
  components/management/data-mgmt-zone.tf
  components/management/inputs-optional.tf
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  modules/ipkit_logic/logic-app.tf
Labels: sbox_routes - TerraformPlanApply/no-changes, stg_routes - TerraformPlanApply/no-changes, prod_routes - TerraformPlanApply/no-changes, sbox_mgmt - TerraformPlanApply/no-changes, prod_mgmt - TerraformPlanApply/add-or-update, sbox_landing - TerraformPlanApply/add-or-update, stg_landing - TerraformPlanApply/add-or-update, prod_landing - TerraformPlanApply/destroy, stg_mgmt - TerraformPlanApply/no-changes

#48 DTSPO-18901 - deploying AMA to the prod VMs
  environments/prod/prod.tfvars
Labels: sbox_routes - TerraformPlanApply/no-changes, stg_routes - TerraformPlanApply/no-changes, prod_routes - TerraformPlanApply/no-changes, sbox_mgmt - TerraformPlanApply/no-changes, stg_landing - TerraformPlanApply/add-or-update, stg_mgmt - TerraformPlanApply/no-changes, sbox_landing - TerraformPlanApply/no-changes, prod_mgmt - TerraformPlanApply/no-changes, prod_landing - TerraformPlanApply/add-or-update
