Repository hmcts/dlrm-data-ingest-infra, pull requests merged in 2025-06, with the labels that each got.

#99 DTSPO-26119 - Update role assignments
  components/ai/ai.tf
  components/ai/data.tf
  components/ai/inputs-optional.tf
  components/ai/roles.tf
  components/ai/storage.tf
  environments/prod/prod.tfvars
Labels: 883: sbox_routes - TerraformPlanApply/no-changes, 883: sbox_mgmt - TerraformPlanApply/no-changes, 883: stg_routes - TerraformPlanApply/no-changes, 883: prod_routes - TerraformPlanApply/no-changes, 883: stg_mgmt - TerraformPlanApply/no-changes, 883: prod_mgmt - TerraformPlanApply/no-changes, 883: sbox_ai - TerraformPlanApply/destroy, 883: prod_ai - TerraformPlanApply/destroy

#102 DTSPO-26119 - Use azurerm 4.x
  components/ai/ai.tf
Labels: 883: sbox_routes - TerraformPlanApply/no-changes, 883: sbox_mgmt - TerraformPlanApply/no-changes, 883: stg_routes - TerraformPlanApply/no-changes, 883: prod_routes - TerraformPlanApply/no-changes, 883: stg_mgmt - TerraformPlanApply/no-changes, 883: prod_mgmt - TerraformPlanApply/no-changes, 883: sbox_ai - TerraformPlanApply/add-or-update, 883: prod_ai - TerraformPlanApply/add-or-update

#103 DTSPO-26119 - set public ip enabled
  components/ai/ai.tf
  components/ai/inputs-optional.tf
  environments/prod/prod.tfvars
Labels: 883: sbox_routes - TerraformPlanApply/no-changes, 883: sbox_mgmt - TerraformPlanApply/no-changes, 883: stg_routes - TerraformPlanApply/no-changes, 883: prod_routes - TerraformPlanApply/no-changes, 883: stg_mgmt - TerraformPlanApply/no-changes, 883: prod_mgmt - TerraformPlanApply/no-changes, 883: sbox_ai - TerraformPlanApply/add-or-update, 883: prod_ai - TerraformPlanApply/add-or-update

#101 DTSPO-26119 - Revert module to main
  components/ai/ai.tf
Labels: 883: sbox_routes - TerraformPlanApply/no-changes, 883: sbox_mgmt - TerraformPlanApply/no-changes, 883: stg_routes - TerraformPlanApply/no-changes, 883: prod_routes - TerraformPlanApply/no-changes, 883: stg_mgmt - TerraformPlanApply/no-changes, 883: prod_mgmt - TerraformPlanApply/no-changes, 883: sbox_ai - TerraformPlanApply/add-or-update, 883: prod_ai - TerraformPlanApply/destroy

#104 feat: added MoJo Prisma Access IP range
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
Labels: 883: sbox_routes - TerraformPlanApply/no-changes, 883: sbox_mgmt - TerraformPlanApply/no-changes, 883: stg_routes - TerraformPlanApply/no-changes, 883: prod_routes - TerraformPlanApply/no-changes, 883: stg_mgmt - TerraformPlanApply/no-changes, 883: prod_mgmt - TerraformPlanApply/no-changes, 883: sbox_ai - TerraformPlanApply/add-or-update, 883: prod_ai - TerraformPlanApply/destroy
