Repository hmcts/dlrm-data-ingest-infra, pull requests merged in 2025-03, with the labels that each got.

#65 Testing inclusion of multiple eventhubs
  components/management/data-mgmt-zone.tf
  components/management/inputs-optional.tf
  components/management/inputs-required.tf
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
Labels: sbox_routes - TerraformPlanApply/no-changes, stg_routes - TerraformPlanApply/no-changes, prod_routes - TerraformPlanApply/no-changes, prod_mgmt - TerraformPlanApply/add-or-update, stg_landing - TerraformPlanApply/add-or-update, prod_landing - TerraformPlanApply/add-or-update, sbox_landing - TerraformPlanApply/destroy, stg_mgmt - TerraformPlanApply/add-or-update, sbox_mgmt - TerraformPlanApply/destroy

#68 Auto inflate set to false - tf apply pipeline error indicates can onl…
  environments/sbox/sbox.tfvars
Labels: sbox_routes - TerraformPlanApply/no-changes, stg_routes - TerraformPlanApply/no-changes, prod_routes - TerraformPlanApply/no-changes, prod_mgmt - TerraformPlanApply/add-or-update, stg_landing - TerraformPlanApply/add-or-update, prod_landing - TerraformPlanApply/add-or-update, sbox_mgmt - TerraformPlanApply/add-or-update, sbox_landing - TerraformPlanApply/destroy, stg_mgmt - TerraformPlanApply/add-or-update

#69 Max throughput units amended as causing tf apply to fail
  environments/sbox/sbox.tfvars
Labels: sbox_routes - TerraformPlanApply/no-changes, stg_routes - TerraformPlanApply/no-changes, prod_routes - TerraformPlanApply/no-changes, prod_mgmt - TerraformPlanApply/add-or-update, stg_landing - TerraformPlanApply/add-or-update, prod_landing - TerraformPlanApply/add-or-update, sbox_mgmt - TerraformPlanApply/add-or-update, sbox_landing - TerraformPlanApply/destroy, stg_mgmt - TerraformPlanApply/add-or-update

#70 eventhub capacity amended as causing tf apply to fail
  environments/sbox/sbox.tfvars
Labels: sbox_routes - TerraformPlanApply/no-changes, stg_routes - TerraformPlanApply/no-changes, prod_routes - TerraformPlanApply/no-changes, prod_mgmt - TerraformPlanApply/add-or-update, stg_landing - TerraformPlanApply/add-or-update, prod_landing - TerraformPlanApply/add-or-update, sbox_mgmt - TerraformPlanApply/add-or-update, sbox_landing - TerraformPlanApply/destroy, stg_mgmt - TerraformPlanApply/add-or-update

#74 fix: add test zone
  environments/sbox/sbox.tfvars
Labels: stg_routes - TerraformPlanApply/no-changes, prod_routes - TerraformPlanApply/no-changes, sbox_mgmt - TerraformPlanApply/no-changes, prod_mgmt - TerraformPlanApply/add-or-update, sbox_landing - TerraformPlanApply/add-or-update, stg_landing - TerraformPlanApply/add-or-update, prod_landing - TerraformPlanApply/add-or-update, sbox_routes - TerraformPlanApply/add-or-update, stg_mgmt - TerraformPlanApply/add-or-update

#73 Removed previously added max_throughput_units as causing tf apply failure
  components/management/data-mgmt-zone.tf
  components/management/inputs-optional.tf
  environments/sbox/sbox.tfvars
Labels: sbox_routes - TerraformPlanApply/no-changes, stg_routes - TerraformPlanApply/no-changes, prod_routes - TerraformPlanApply/no-changes, sbox_mgmt - TerraformPlanApply/no-changes, prod_mgmt - TerraformPlanApply/add-or-update, sbox_landing - TerraformPlanApply/add-or-update, stg_landing - TerraformPlanApply/add-or-update, prod_landing - TerraformPlanApply/add-or-update, stg_mgmt - TerraformPlanApply/add-or-update

#77 DTSPO-24907 - add additional vnets and subnet
  components/landing/inputs-required.tf
  environments/sbox/sbox.tfvars
Labels: sbox_routes - TerraformPlanApply/no-changes, stg_routes - TerraformPlanApply/no-changes, prod_routes - TerraformPlanApply/no-changes, sbox_mgmt - TerraformPlanApply/no-changes, prod_mgmt - TerraformPlanApply/add-or-update, sbox_landing - TerraformPlanApply/add-or-update, stg_landing - TerraformPlanApply/add-or-update, prod_landing - TerraformPlanApply/add-or-update, stg_mgmt - TerraformPlanApply/add-or-update

#78 DTSPO-24907 - Add subnets
  components/landing/data-landing-zone.tf
  components/landing/inputs-required.tf
  components/landing/interpolated-defaults.tf
  environments/sbox/sbox.tfvars
Labels: sbox_routes - TerraformPlanApply/no-changes, stg_routes - TerraformPlanApply/no-changes, prod_routes - TerraformPlanApply/no-changes, sbox_mgmt - TerraformPlanApply/no-changes, sbox_landing - TerraformPlanApply/add-or-update, stg_landing - TerraformPlanApply/add-or-update, stg_mgmt - TerraformPlanApply/no-changes, prod_mgmt - TerraformPlanApply/no-changes, prod_landing - TerraformPlanApply/add-or-update

#76 DTSPO-24907 - Add AI component
  azure-pipelines.yaml
  components/ai/ai.tf
  components/ai/application_insights.tf
  components/ai/data.tf
  components/ai/init.tf
  components/ai/inputs-optional.tf
  components/ai/inputs-required.tf
  components/ai/interpolated-defaults.tf
  components/ai/key_vault.tf
  components/ai/resource_group.tf
  components/ai/storage.tf
Labels: sbox_routes - TerraformPlanApply/no-changes, stg_routes - TerraformPlanApply/no-changes, prod_routes - TerraformPlanApply/no-changes, sbox_mgmt - TerraformPlanApply/no-changes, sbox_landing - TerraformPlanApply/add-or-update, stg_landing - TerraformPlanApply/add-or-update, stg_mgmt - TerraformPlanApply/no-changes, prod_mgmt - TerraformPlanApply/no-changes, prod_landing - TerraformPlanApply/add-or-update, sbox_ai - TerraformPlanApply/add-or-update

#80 feat: sftp storage
  components/landing/data-landing-zone.tf
  components/landing/inputs-required.tf
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
Labels: sbox_routes - TerraformPlanApply/no-changes, stg_routes - TerraformPlanApply/no-changes, prod_routes - TerraformPlanApply/no-changes, sbox_mgmt - TerraformPlanApply/no-changes, sbox_landing - TerraformPlanApply/add-or-update, stg_landing - TerraformPlanApply/add-or-update, stg_mgmt - TerraformPlanApply/no-changes, prod_mgmt - TerraformPlanApply/no-changes, prod_landing - TerraformPlanApply/add-or-update, sbox_ai - TerraformPlanApply/add-or-update

#81 DTSPO-24907 - Add role for dns zone link in sbox
  components/landing/interpolated-defaults.tf
  components/landing/role-assignments.tf
  environments/sbox/sbox.tfvars
Labels: sbox_routes - TerraformPlanApply/no-changes, stg_routes - TerraformPlanApply/no-changes, prod_routes - TerraformPlanApply/no-changes, sbox_mgmt - TerraformPlanApply/no-changes, sbox_landing - TerraformPlanApply/add-or-update, stg_landing - TerraformPlanApply/add-or-update, stg_mgmt - TerraformPlanApply/no-changes, prod_mgmt - TerraformPlanApply/no-changes, prod_landing - TerraformPlanApply/add-or-update, sbox_ai - TerraformPlanApply/add-or-update

#83 fix: correct landing zone module ref
  components/landing/data-landing-zone.tf
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
Labels: stg_routes - TerraformPlanApply/no-changes, prod_routes - TerraformPlanApply/no-changes, sbox_mgmt - TerraformPlanApply/no-changes, stg_landing - TerraformPlanApply/add-or-update, stg_mgmt - TerraformPlanApply/no-changes, prod_mgmt - TerraformPlanApply/no-changes, prod_landing - TerraformPlanApply/add-or-update, sbox_landing - TerraformPlanApply/destroy, sbox_ai - TerraformPlanApply/add-or-update, sbox_routes - TerraformPlanApply/destroy
